---
navbar_name: design
layout: default
additional_page_classes: gallery
order: 4
---

<div class="gallery-title">
    <h2>Design</h2>
    <p>Print, digital, motion, and video editing projects I've worked on.</p>
</div>

{% assign featured = site.designs | reverse %}
<div class="masonry-container">
    <div class="masonry-column">
        {% for post in featured %}
        {% assign mod = forloop.index | modulo: 2 %}
        {% if mod == 1 %}
        {% include masonry_image.html %}
        {% endif %}
        {% endfor %}
    </div>

    <div class="masonry-column">
        {% for post in featured %}
        {% assign mod = forloop.index | modulo: 2 %}
        {% if mod == 0 %}
        {% include masonry_image.html %}
        {% endif %}
        {% endfor %}
    </div>
</div>