---
title: "side quests"
layout: default
order: 3
---

navbar_name: side-quests

<p>Here are some things I do outside of the workday that involve my professional interests in technology and design.</p>

<h2>Creative Technology</h2>
<p>Things I built for fun.</p>
<div class="project-preview-container">
{% for post in site.projects %}
    {% if post.category contains "creative-tech" %}
        {% include project_preview.html %}
    {% endif %}
{% endfor %}
</div>

<h2>Events & Workshops</h2>

<p>I have a background in environmental education and believe in community events as creative, exploratory breaks from the career world. Instructional materials from my events are posted below and are free to use and remix. </p>

{% for post in site.events %}
    {% if post.category contains "events" %}
        {% include accordion_post.html %}
    {% endif %}
{% endfor %}