---
navbar_name: work
layout: default
order: 2
---

<h2>Ongoing</h2>
<p>How I spend my days right now.</p>
<div class="project-preview-container">
{% for post in site.posts %}
    {% if post.category contains "current-work" %}
        {% include project_preview.html %}
    {% endif %}
{% endfor %}
</div>

<h2>Past</h2>
<p>Projects from university and previous work experiences.</p>
<div class="project-preview-container">
{% for post in site.posts %}
    {% if post.category contains "past-work" %}
        {% include project_preview.html %}
    {% endif %}
{% endfor %}
</div>