@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root{
  --heading-font: 'Jetbrains Mono', monospace;
  --body-font: 'Alegreya', serif;
  --subheading-font: 'Jetbrains Mono', monospace;
  --background-color: #3F6562;
  --border-color: #ccd3d7;
  --body-background-color: #F0F0F0;
  --opposite-color: #1bd2b3;
  --text-color: #000000;
  --link-color: #1bd2b3;
  --accent-color: #C4D790;
  --shadow-color: black;
}

html {
  scrollbar-width: none;
}

body {
  background-color: var(--background-color);
  padding-left: 12vw;
  padding-right: 12vw;
  padding-top: 6vh;
  padding-bottom: 6vh;
  font-family: var(--body-font);
}

h1 {
 color: var(--background-color); 
 font-family: var(--heading-font);
 font-size: 4em;
 line-height: 1;
}

p {
  font-size: 1.25em;
}

a {
  color: var(--background-color);
}

h1.top-header {
  font-size: 3em;
  color: var(--body-background-color);
  text-align: center;
  margin-bottom: 0;
}

p.top-header {
  font-size: 1.5em;
  margin-top: 0.5em;
  color: var(--accent-color);
  text-align: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home h1 {
  margin-bottom: 0
}

.home p {
  font-family: var(--body-font);
  font-size: 1.5em;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.links a {
  font-family: var(--subheading-font);
  color: var(--body-background-color);
  text-decoration: none;
  font-weight: bold;
}

.links a.selected {
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color)
}

.portfolio-main {
  background-color: var(--body-background-color);
  padding-left: 8vw;
  padding-right: 8vw;
  padding-top: 4vh;
  padding-bottom: 4vh;
  border-radius: 4px;
}

.project-preview-container {
  display: flex;
  flex-direction: column;
}

.project-preview {
  display: flex;
  height: unset;
  width: 100%;
  flex-direction: row;
  gap: 1em;
  padding-bottom: 16px;
  padding-top: 16px;
  border-bottom: 2px solid var(--border-color);
}

.project-preview h4 {
  font-size: 1.5em;
  margin: 0;
}

.project-image-container {
  width: 200px;
  height: 150px;
}

img.project-image {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.project-info .date-range {
  font-family: var(--subheading-font);
  color: var(--background-color);
  font-size: 0.75em;
  margin: 0;
}

.project-info .project-description {
  font-family: var(--body-font);
  font-size: 1em;
  margin: 0;
}

.project-skillsets {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.project-skill {
  background-color: var(--accent-color);
  color: var(--text-color);
  border-radius: 4px;
  font-weight: bold;
  padding-left: 4px;
  padding-right: 4px;
}

.footer {
  padding-top: 4vh;
  padding-bottom: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer p {
  color: var(--accent-color);
  margin: 0;
}

.social-icons {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin: 32px;
}

.social-icon {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.filter-invert {
  filter: invert(100%);
}

.profile-image-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.profile-image {
  display: inline;
  width: 18vw;
  height: 18vw;
  border-radius: 50%;
}

.profile-img-small {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}