<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap" rel="stylesheet">
    <title>PORTFOLIO</title>
  </head>
  <body>
    <div id="root">
    <div class="sidebar">

          <a class="site-header" href="/"><h1 id="title">CAROL DINH ✦</h1></a>
            <a class="navlink" href="/art">>> cd ~/art</a>
            <a class="navlink" href="/tech">>> cd ~/tech</a>
            <!--<a class="navlink" href="/writing">>> cd ~/writing</a>-->
            <a href="https://cdinhart.itch.io/" class="navlink" target="_blank">>> cd ~/zines</a>
        </div>

        <div class="gallery">
          {{ content }}
        </div>
    </div>
  </body>
  </body>
</html>